# video_looper.ini
# Main configuration file for video_looper.
# The video_looper works right out of the box by playing any video files that
# are in the root directory of an attached USB drive.
# In this file you can change a lot of the video_looper's behavior, like what
# video player is used or where it looks for media files.  
# Lines that begin with # are comments that will be ignored.
# Uncomment (=activate) a line by removing its preceding # character.
# Use ./reload.sh to restart the video_looper with any changed settings.

# Video_looper configuration block follows.
[video_looper]

# Set which video player will be used to play media files.  Only vlcplayer is supported at this time.
# The image_player only displays images and for the duration configured in this file under the "image_player" section.
# The default is vlcplayer.
video_player = vlcplayer
#video_player = image_player

# File Reader Location
# Where to find media files.  Can be usb_drive, directory or usb_drive_copymode.  
# When using usb_drive any USB stick inserted in to the Pi will be automatically 
# mounted and searched for media files (only in the root directory).  
# Alternatively the directory option will search only a specified directory on the SD 
# card for media files.  
# You can change the directory to be used in the [directory] section below.  
# The default is usb_drive.
file_reader = usb_drive
#file_reader = directory
#file_reader = usb_drive_copymode

# Note on usb_drive_copymode:
# If you enable this mode, media files are copied from the USB stick to the path 
# specified in the [directory] section below.
# see additional settings for copy-mode in the [copymode] section

# On Screen Display (OSD)
# Control whether informative messages about the current player state are
# displayed, like the number of media files loaded or if it's waiting to load them.
# Default is true to display these messages, but can be set to false to disable
# them entirely.
osd = true
#osd = false

# for how many seconds should the OSD and countdown be shown after files are found
countdown_time = 5

# Below you can set a wait time (in seconds) that is waited between each video.
# wait time is not honored for the first video that plays after starting a new playlist (e.g. after plugging in usb drive)
# when using a self looping player like hello_video wait_time is not waited between each repeat of one video but between different videos
# with omxplayer wait_time will also happen between every repeat of a video
wait_time = 0

# This option enables the display of the current date/time while waiting between the videos
# Please note that the RPi is not good at keeping the time so you need to setup NTP time sync or install a RTC module
datetime_display= false
#datetime_display = true

# This controls the format the date/time is displayed: (see https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)
# The below datetime_display can be on two lines if required. The top line is much bigger than the bottom line and suits the time better. The bottom line is more suited to the date. 'Thursday 13th February 2023' for example.
# If the bottom line not required just leave bottom_datetime_display_format empty.
# If the suffix is required after the day then %d{SUFFIX} should be put in the *_datetime_display_format.
# Some different examples of time and date are shown below with an example. (Only one pair of *_datetime_display_format should be without #)

# 24Hour:Minutes:Seconds on the top line, Day of week, day of month followed by the suffix (st, nd, rd etc), Month, Year ion the bottom line.
top_datetime_display_format = %H:%M:%S
bottom_datetime_display_format = %A %d{SUFFIX} %B %Y

# 24Hour:Minutes:Seconds on the top line, Year on the bottom line.
#top_datetime_display_format = %H:%M:%S
#bottom_datetime_display_format = %Y

# 24Hour:Minutes:Seconds on the top line, no bottom line.
#top_datetime_display_format = %H:%M:%S
#bottom_datetime_display_format =

# To play files in random order set this to true
is_random = false
#is_random = true

# resume last playlist item after restart
resume_playlist = false
#resume_playlist = true

# stop playback after each file
one_shot_playback = false
#one_shot_playback = true

# play videos on startup
# it is usefull to disable this if you want to trigger videos only by e.g. gpio
play_on_startup = true
#play_on_startup = false

# Set the background to a custom image
# This image is displayed between movies or images
# an image will be scaled to the display resolution and centered. Use i.e.
# bgimage = /home/pi/loader.png
bgimage = 

# Change the color of the background that is displayed behind videos (only works
# with omxplayer and the image_player).  Provide 3 numeric values from 0 to 255 separated by a commma
# for the red, green, and blue color value.  Default is 0, 0, 0 which is black.
bgcolor = 0, 0, 0

# Change the color of the foreground text that is displayed with the on screen
# display messages.  Provide 3 numeric values in the same format as bgcolor
# above.  Default is 255, 255, 255 or white.
fgcolor = 255, 255, 255

# Output program state to standard output if true.
# Useful for debugging to see whats going on behind the scenes
console_output = false
#console_output = true

[control]
# In this section all settings to interact with the looper are defined

# Control the program via keyboard
# See the readme for the complete list of keyboard commands.
keyboard_control = true
#keyboard_control = false

# you can disable the keyboard control while a video is playing - in case of a looping video keyboard control will never work
# is meant to be used with one_shot_playback
keyboard_control_disabled_while_playback = false
#keyboard_control_disabled_while_playback = true

# This setting defines which Raspberry Pi GPIO pin will trigger which action.
# Pins are named like the Blinka "board" module, i.e. BCM numbering with a D prefix: "D17" is GPIO17 (physical pin 11).
# See: https://www.raspberrypi.com/documentation/computers/raspberry-pi.html#gpio for info about the pin numbers
# the pins are pulled high so you need to connect your switch to the selected pin and Ground (e.g. pin 9) - there is some debouncing done in software
# The accepted actions are:
#   videoindex (integer), "filename", "+1" / "-1" (relative jump),
#   "folder:next", "folder:prev", "folder:<name>" (select a folder, see folder_select below),
#   "shutdown" (shuts down the Raspberry Pi after holding the button for shutdown_hold_time seconds)
# its also possible to send "keyboard commands" like shutdown or pause (see readme for available keyboard commands)
# the format follows the pygame key list (https://www.pygame.org/docs/ref/key.html) see example below. "keyboard_control" needs to be enabled for this to work
# to enable GPIO set a gpio_pin_map like in the example below or just enable all the example mappings.
gpio_pin_map = 
#gpio_pin_map = "D17" : 1, "D27": 4, "D23": "+2", "D24": "-1", "D22": "video.mp4", "D10": "K_SPACE", "D9": "K_p"
# Example:
# GPIO17 (pin 11) starts the 2nd video in the playlist, 
# GPIO27 (pin 13) starts the 5th video, 
# GPIO23 (pin 16) jumps 2 videos ahead,
# GPIO24 (pin 18) jumps one video back,
# GPIO22 (pin 15) plays a file with name "video.mp4" (if it exists),
# GPIO10 (pin 19) sends the "spacebar" to the looper, pausing the current video
# GPIO9 (pin 21) sends the "p" key and thus triggers the shutdown of the Raspberry Pi
#
# Channel switching example (two buttons + shutdown button):
#gpio_pin_map = "D17": "folder:prev", "D27": "folder:next", "D3": "shutdown"

# Seconds a button mapped to "shutdown" has to be held down before the Raspberry Pi shuts down
shutdown_hold_time = 2

# Folder select ("channels"): only the videos of the selected folder are played.
# Switch folders like TV channels with the "folder:next" / "folder:prev" GPIO actions
# (e.g. two buttons: "D17": "folder:prev", "D27": "folder:next") or the "f" key (next folder).
# The selection is remembered across restarts. Not used when a [playlist] path is set.
folder_select = false
#folder_select = true

# The folders to switch between, in channel order, separated by commas or one per line (indented).
# Relative names are looked up on the USB drive (or in the [directory] path), absolute paths are used as is.
# Folders without media files (e.g. USB drive not inserted) are skipped.
# Leave empty to use every subfolder with media files, sorted alphabetically.
folders = 
#folders = Cartoons, Nature, /home/{USERNAME}/Videos/News
#folders =
#    Cartoons
#    Nature
#    /home/{USERNAME}/Videos/News

# Seconds the folder name is shown when switching folders (instead of the countdown)
channel_display_time = 1

# you can disable the gpio control while a video is playing - in case of a looping video gpio control will never work
# is meant to be used with one_shot_playback
gpio_control_disabled_while_playback = false
#gpio_control_disabled_while_playback = true

# USB drive file reader configuration follows.
[usb_drive]

# The path to look for automatically mounted USB Drives i.e. /media/pi/.
mount_path = /media/{USERNAME}/


# Directory file reader configuration follows.
[directory]
# The path to search for movies when using the directory file reader.
# (see the file_reader section above to enable it)
path = /home/{USERNAME}/Videos


# Copy-mode file reader configuration follows.
[copymode]
# this setting controls what happens when a USB drive is plugged in while in copymode 
# (see the file_reader section above to enable it)
# the default setting "replace" deletes any files in the video directory and then copies the files from the USB drive
# You can decide if new files on the drive should replace existing files or get added. "Replace" means that any existing videofiles on the RPi get deleted, and only the new files remain.
# This setting can be overruled by placing a file named "replace" or "add" on the drive.
# The default mode is "replace".
# NOTE: files with the same name are always overwritten
mode = replace
#mode = add

# with this setting you can control if a file named "loader.png" should be copied from the drive to be used eg as a background
# the file is copied to /home/pi/loader.png
copyloader = false
#copyloader = true

# this setting defines a "password" that has to exist as a file (with the password as a filename) (extension does not matter)
# on the USB drive for the videolooper to accept videos from the USB drive
# default is videopi - you should consider changing it - 
# if it is empty no check will be performed
# for maximum compatibility use only ascii characters
password = videopi


[playlist]
# This setting allows for a fixed playlist. See the example.m3u file in assets for the syntax.
# Path to the playlist file.
# If you enter a relative path (not starting with /) it is considered relative to the selected file_reader path (directory or USB drive).
# Leave empty to not use a playlist and play all the files in the file_reader path (directory or USB drive).
path = 
#path = playlist.m3u



# ALSA configuration follows.
[alsa]

# ALSA hardware device to use for sound output.  This consists of the card
# number and subdevice number separated by a comma, e.g. '1,0'.  Run 
# 'aplay -l' to list available devices.  If empty, the default output device is
# used.
hw_device = 
#hw_device = 1,0

# Volume of the hardware device can be set using a text file provided with the
# video files.  If the file does not exist, the hardware volume will remain
# unchanged.  This setting specifies the name of the text file.
# The file should contain a single line with an amixer-compatible volume value,
# such as '50%' or '-10db'.
hw_vol_file =
#hw_vol_file = alsa_volume

# Name of the ALSA control to use for adjusting volume.  If 'Master' doesn't work, try
# 'PCM'.  Run 'amixer -c N scontrols' (where N is the card number of your output
# device) to list available controls.
hw_vol_control = Master

[vlcplayer]
extensions = avi, mov, mkv, mp4, m4v

# image player configuration follows
[image_player]

# List of supported file extensions.  Must be comma separated and should not
# include the dot at the start of the extension.
extensions = jpg, jpeg, gif, png

# Seconds an image is displayed
duration = 5

# Controls if images should be scaled to fit (shrink or enlarge) the display resolution. Default: true
scale = true
#scale = false

# Controls if images should be displayed centered. Default: true
center = true
#center = false
